$font-size-display: 36px !default;
$font-size-button: 14px !default;
$font-size-alert: 16px !default;
$font-size-breadcrumb: 14px !default;
$font-size-main-menu: 14px !default;
$font-size-content-header: 14px !default;
$font-size-label: 12px !default;
$font-size-content: 12px !default;
$font-size-dropdown: 12px !default;
$font-size-copyright: 10px !default;
$font-size-control-note: 10px !default;
// Content