.toast-success {
    background-color: $brand-success;
}
.toast-error {
    background-color: $brand-danger;
}
.toast-info {
    background-color: $brand-info;
}
.toast-warning {
    background-color: $brand-warning;
}